# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CANV2ProtocolDemoClient/.vs/CANV2ProtocolDemoClient/v16
/CANV2ProtocolDemoClient/bin/Debug
/CANV2ProtocolDemoClient/obj/Debug
